In [1]:
import numpy as np
import pandas as pb

In [28]:
arr = np.array([[' ',"Book", "Type"],['0',"Lord Of The Ring", "Good"],['1',"Alchemist", "Normal"],['2',"Think and grow rich", "Normal"]])
print(arr)

[[' ' 'Book' 'Type']
 ['0' 'Lord Of The Ring' 'Good']
 ['1' 'Alchemist' 'Normal']
 ['2' 'Think and grow rich' 'Normal']]

In [29]:
brr = pb.DataFrame(data = arr[1:,1:], columns = arr[0,1:3], index = arr[1:4,0])
print(brr)

                  Book    Type
0     Lord Of The Ring    Good
1            Alchemist  Normal
2  Think and grow rich  Normal

In [30]:
brr.head()

                  Book    Type
0     Lord Of The Ring    Good
1            Alchemist  Normal
2  Think and grow rich  Normal

In [31]:
print(brr["Book"])

0       Lord Of The Ring
1              Alchemist
2    Think and grow rich
Name: Book, dtype: object

In [32]:
print(brr.iloc[2])

Book    Think and grow rich
Type                 Normal
Name: 2, dtype: object

In [33]:
print(brr["Type"])

0      Good
1    Normal
2    Normal
Name: Type, dtype: object

In [37]:
filing = pb.read_csv("euro.csv", sep = ',')
print(filing)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Saves made  \
0              0              0                     0  ...          13
1              0              0                     0  ...           9
2              1              0                     0  ...          10
3              0              0                     0  ...          22
4              1              0                     0  ...           6
5              2              1                     0  ...          10
6              1              1                     1  ...          13
7              2              0                     0  ...          20
8              2              0                     0  ...          12
9              0              0                     0  ...           6
10             6              0                     0  ...          10
11             0              0                     0  ...          17
12             2              0                     0  ...          10
13             0              1                     0  ...          15
14             3              0                     0  ...           8
15             0              0                     0  ...          13

    Saves-to-shots ratio  Fouls Won Fouls Conceded  Offsides  Yellow Cards  \
0                  81.3%         41             62         2             9
1                  60.1%         53             73         8             7
2                  66.7%         25             38         8             4
3                  88.1%         43             45         6             5
4                  54.6%         36             51         5             6
5                  62.6%         63             49        12             4
6                  65.1%         67             48        12             9
7                  74.1%        101             89        16            16
8                  70.6%         35             30         3             5
9                  66.7%         48             56         3             7
10                 71.5%         73             90        10            12
11                 65.4%         43             51        11             6
12                 77.0%         34             43         4             6
13                 93.8%        102             83        19            11
14                 61.6%         35             51         7             7
15                 76.5%         48             31         4             5

    Red Cards  Subs on  Subs off  Players Used
0           0        9         9            16
1           0       11        11            19
2           0        7         7            15
3           0       11        11            16
4           0       11        11            19
5           0       15        15            17
6           1       12        12            20
7           0       18        18            19
8           0        7         7            15
9           1        7         7            17
10          0       14        14            16
11          1       10        10            17
12          0        7         7            16
13          0       17        17            18
14          0        9         9            18
15          0        9         9            18

[16 rows x 35 columns]

In [42]:
filing.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [48]:
print(filing.shape)
print(filing.shape[0])

(16, 35)
16

In [44]:
filing.Goals

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [45]:
filing["Team"]

0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
4                  France
5                 Germany
6                  Greece
7                   Italy
8             Netherlands
9                  Poland
10               Portugal
11    Republic of Ireland
12                 Russia
13                  Spain
14                 Sweden
15                Ukraine
Name: Team, dtype: object

In [49]:
filing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 35 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Team                        16 non-null     object
 1   Goals                       16 non-null     int64
 2   Shots on target             16 non-null     int64
 3   Shots off target            16 non-null     int64
 4   Shooting Accuracy           16 non-null     object
 5   % Goals-to-shots            16 non-null     object
 6   Total shots (inc. Blocked)  16 non-null     int64
 7   Hit Woodwork                16 non-null     int64
 8   Penalty goals               16 non-null     int64
 9   Penalties not scored        16 non-null     int64
 10  Headed goals                16 non-null     int64
 11  Passes                      16 non-null     int64
 12  Passes completed            16 non-null     int64
 13  Passing Accuracy            16 non-null     object
 14  Touches                     16 non-null     int64
 15  Crosses                     16 non-null     int64
 16  Dribbles                    16 non-null     int64
 17  Corners Taken               16 non-null     int64
 18  Tackles                     16 non-null     int64
 19  Clearances                  16 non-null     int64
 20  Interceptions               16 non-null     int64
 21  Clearances off line         15 non-null     float64
 22  Clean Sheets                16 non-null     int64
 23  Blocks                      16 non-null     int64
 24  Goals conceded              16 non-null     int64
 25  Saves made                  16 non-null     int64
 26  Saves-to-shots ratio        16 non-null     object
 27  Fouls Won                   16 non-null     int64
 28  Fouls Conceded              16 non-null     int64
 29  Offsides                    16 non-null     int64
 30  Yellow Cards                16 non-null     int64
 31  Red Cards                   16 non-null     int64
 32  Subs on                     16 non-null     int64
 33  Subs off                    16 non-null     int64
 34  Players Used                16 non-null     int64
dtypes: float64(1), int64(29), object(5)
memory usage: 4.5+ KB

In [88]:
saveData = filing[['Goals',"Team",'Yellow Cards', 'Red Cards']]
print(saveData)

    Goals                 Team  Yellow Cards  Red Cards
0       4              Croatia             9          0
1       4       Czech Republic             7          0
2       4              Denmark             4          0
3       5              England             5          0
4       3               France             6          0
5      10              Germany             4          0
6       5               Greece             9          1
7       6                Italy            16          0
8       2          Netherlands             5          0
9       2               Poland             7          1
10      6             Portugal            12          0
11      1  Republic of Ireland             6          1
12      5               Russia             6          0
13     12                Spain            11          0
14      5               Sweden             7          0
15      2              Ukraine             5          0

In [89]:
saveData = saveData.sort_values(["Yellow Cards"])
print(saveData)

    Goals                 Team  Yellow Cards  Red Cards
2       4              Denmark             4          0
5      10              Germany             4          0
3       5              England             5          0
8       2          Netherlands             5          0
15      2              Ukraine             5          0
4       3               France             6          0
11      1  Republic of Ireland             6          1
12      5               Russia             6          0
1       4       Czech Republic             7          0
9       2               Poland             7          1
14      5               Sweden             7          0
0       4              Croatia             9          0
6       5               Greece             9          1
13     12                Spain            11          0
10      6             Portugal            12          0
7       6                Italy            16          0

In [93]:
saveData[saveData['Goals'] > 5]

    Goals      Team  Yellow Cards  Red Cards
5      10   Germany             4          0
13     12     Spain            11          0
10      6  Portugal            12          0
7       6     Italy            16          0

In [94]:
saveData.iloc[0:8,]

    Goals                 Team  Yellow Cards  Red Cards
2       4              Denmark             4          0
5      10              Germany             4          0
3       5              England             5          0
8       2          Netherlands             5          0
15      2              Ukraine             5          0
4       3               France             6          0
11      1  Republic of Ireland             6          1
12      5               Russia             6          0

In [1]:
import pandas as pb
import numpy as np

In [6]:
path = "auto.csv"
filing = pb.read_csv(path, header = None)
print(filing)

     0    1            2       3      4     5            6    7      8   \
0     3    ?  alfa-romero     gas    std   two  convertible  rwd  front
1     3    ?  alfa-romero     gas    std   two  convertible  rwd  front
2     1    ?  alfa-romero     gas    std   two    hatchback  rwd  front
3     2  164         audi     gas    std  four        sedan  fwd  front
4     2  164         audi     gas    std  four        sedan  4wd  front
..   ..  ...          ...     ...    ...   ...          ...  ...    ...
200  -1   95        volvo     gas    std  four        sedan  rwd  front
201  -1   95        volvo     gas  turbo  four        sedan  rwd  front
202  -1   95        volvo     gas    std  four        sedan  rwd  front
203  -1   95        volvo  diesel  turbo  four        sedan  rwd  front
204  -1   95        volvo     gas  turbo  four        sedan  rwd  front

        9   ...   16    17    18    19    20   21    22  23  24     25
0     88.6  ...  130  mpfi  3.47  2.68   9.0  111  5000  21  27  13495
1     88.6  ...  130  mpfi  3.47  2.68   9.0  111  5000  21  27  16500
2     94.5  ...  152  mpfi  2.68  3.47   9.0  154  5000  19  26  16500
3     99.8  ...  109  mpfi  3.19  3.40  10.0  102  5500  24  30  13950
4     99.4  ...  136  mpfi  3.19  3.40   8.0  115  5500  18  22  17450
..     ...  ...  ...   ...   ...   ...   ...  ...   ...  ..  ..    ...
200  109.1  ...  141  mpfi  3.78  3.15   9.5  114  5400  23  28  16845
201  109.1  ...  141  mpfi  3.78  3.15   8.7  160  5300  19  25  19045
202  109.1  ...  173  mpfi  3.58  2.87   8.8  134  5500  18  23  21485
203  109.1  ...  145   idi  3.01  3.40  23.0  106  4800  26  27  22470
204  109.1  ...  141  mpfi  3.78  3.15   9.5  114  5400  19  25  22625

[205 rows x 26 columns]

In [7]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]
print(headers)

['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration', 'num-of-doors', 'body-style', 'drive-wheels', 'engine-location', 'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type', 'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke', 'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg', 'highway-mpg', 'price']

In [9]:
filing.columns = headers
print(filing)

     symboling normalized-losses         make fuel-type aspiration  \
0            3                 ?  alfa-romero       gas        std
1            3                 ?  alfa-romero       gas        std
2            1                 ?  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]

In [12]:
filing.replace('?', np.nan, inplace = True)
print(filing)

     symboling normalized-losses         make fuel-type aspiration  \
0            3               NaN  alfa-romero       gas        std
1            3               NaN  alfa-romero       gas        std
2            1               NaN  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]

In [13]:
misingData = filing.isnull()
print(misingData)

     symboling  normalized-losses   make  fuel-type  aspiration  num-of-doors  \
0        False               True  False      False       False         False
1        False               True  False      False       False         False
2        False               True  False      False       False         False
3        False              False  False      False       False         False
4        False              False  False      False       False         False
..         ...                ...    ...        ...         ...           ...
200      False              False  False      False       False         False
201      False              False  False      False       False         False
202      False              False  False      False       False         False
203      False              False  False      False       False         False
204      False              False  False      False       False         False

     body-style  drive-wheels  engine-location  wheel-base  ...  engine-size  \
0         False         False            False       False  ...        False
1         False         False            False       False  ...        False
2         False         False            False       False  ...        False
3         False         False            False       False  ...        False
4         False         False            False       False  ...        False
..          ...           ...              ...         ...  ...          ...
200       False         False            False       False  ...        False
201       False         False            False       False  ...        False
202       False         False            False       False  ...        False
203       False         False            False       False  ...        False
204       False         False            False       False  ...        False

     fuel-system   bore  stroke  compression-ratio  horsepower  peak-rpm  \
0          False  False   False              False       False     False
1          False  False   False              False       False     False
2          False  False   False              False       False     False
3          False  False   False              False       False     False
4          False  False   False              False       False     False
..           ...    ...     ...                ...         ...       ...
200        False  False   False              False       False     False
201        False  False   False              False       False     False
202        False  False   False              False       False     False
203        False  False   False              False       False     False
204        False  False   False              False       False     False

     city-mpg  highway-mpg  price
0       False        False  False
1       False        False  False
2       False        False  False
3       False        False  False
4       False        False  False
..        ...          ...    ...
200     False        False  False
201     False        False  False
202     False        False  False
203     False        False  False
204     False        False  False

[205 rows x 26 columns]

In [15]:
misingData.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
print(misingData.sum())

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [19]:
filing["normalized-losses"].replace(np.nan, avg , inplace = True)
print(filing)

     symboling normalized-losses         make fuel-type aspiration  \
0            3             122.0  alfa-romero       gas        std
1            3             122.0  alfa-romero       gas        std
2            1             122.0  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]

In [20]:
filing["normalized-losses"].isnull().sum()

0

In [24]:
filing["normalized-losses"].value_counts() # Tells frequency of each number

122.0    41
161      11
91        8
150       7
134       6
128       6
104       6
85        5
94        5
65        5
102       5
74        5
168       5
103       5
95        5
106       4
93        4
118       4
148       4
122       4
83        3
125       3
154       3
115       3
137       3
101       3
119       2
87        2
89        2
192       2
197       2
158       2
81        2
188       2
194       2
153       2
129       2
108       2
110       2
164       2
145       2
113       2
256       1
107       1
90        1
231       1
142       1
121       1
78        1
98        1
186       1
77        1
Name: normalized-losses, dtype: int64

In [25]:
a = filing['normalized-losses'].value_counts().idxmax() # return the index label of the maximum value in a Pandas Series or DataFrame
print(a)

122.0

In [28]:
filing['normalized-losses'].replace(np.nan, a , inplace = True)
print(filing)

     symboling normalized-losses         make fuel-type aspiration  \
0            3             122.0  alfa-romero       gas        std
1            3             122.0  alfa-romero       gas        std
2            1             122.0  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[205 rows x 26 columns]

In [29]:
filing.dropna(subset = ['price'], axis = 0, inplace = True)# removes any row that contains at least one missing or null value
print(filing)

     symboling normalized-losses         make fuel-type aspiration  \
0            3             122.0  alfa-romero       gas        std
1            3             122.0  alfa-romero       gas        std
2            1             122.0  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
200         -1                95        volvo       gas        std
201         -1                95        volvo       gas      turbo
202         -1                95        volvo       gas        std
203         -1                95        volvo    diesel      turbo
204         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
200         four        sedan          rwd           front       109.1  ...
201         four        sedan          rwd           front       109.1  ...
202         four        sedan          rwd           front       109.1  ...
203         four        sedan          rwd           front       109.1  ...
204         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
200          141         mpfi  3.78    3.15               9.5        114
201          141         mpfi  3.78    3.15               8.7        160
202          173         mpfi  3.58    2.87               8.8        134
203          145          idi  3.01    3.40              23.0        106
204          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
200      5400       23          28  16845
201      5300       19          25  19045
202      5500       18          23  21485
203      4800       26          27  22470
204      5400       19          25  22625

[201 rows x 26 columns]

In [30]:
filing.reset_index(drop = True, inplace = True)
print(filing)

     symboling normalized-losses         make fuel-type aspiration  \
0            3             122.0  alfa-romero       gas        std
1            3             122.0  alfa-romero       gas        std
2            1             122.0  alfa-romero       gas        std
3            2               164         audi       gas        std
4            2               164         audi       gas        std
..         ...               ...          ...       ...        ...
196         -1                95        volvo       gas        std
197         -1                95        volvo       gas      turbo
198         -1                95        volvo       gas        std
199         -1                95        volvo    diesel      turbo
200         -1                95        volvo       gas      turbo

    num-of-doors   body-style drive-wheels engine-location  wheel-base  ...  \
0            two  convertible          rwd           front        88.6  ...
1            two  convertible          rwd           front        88.6  ...
2            two    hatchback          rwd           front        94.5  ...
3           four        sedan          fwd           front        99.8  ...
4           four        sedan          4wd           front        99.4  ...
..           ...          ...          ...             ...         ...  ...
196         four        sedan          rwd           front       109.1  ...
197         four        sedan          rwd           front       109.1  ...
198         four        sedan          rwd           front       109.1  ...
199         four        sedan          rwd           front       109.1  ...
200         four        sedan          rwd           front       109.1  ...

     engine-size  fuel-system  bore  stroke compression-ratio horsepower  \
0            130         mpfi  3.47    2.68               9.0        111
1            130         mpfi  3.47    2.68               9.0        111
2            152         mpfi  2.68    3.47               9.0        154
3            109         mpfi  3.19    3.40              10.0        102
4            136         mpfi  3.19    3.40               8.0        115
..           ...          ...   ...     ...               ...        ...
196          141         mpfi  3.78    3.15               9.5        114
197          141         mpfi  3.78    3.15               8.7        160
198          173         mpfi  3.58    2.87               8.8        134
199          145          idi  3.01    3.40              23.0        106
200          141         mpfi  3.78    3.15               9.5        114

     peak-rpm city-mpg highway-mpg  price
0        5000       21          27  13495
1        5000       21          27  16500
2        5000       19          26  16500
3        5500       24          30  13950
4        5500       18          22  17450
..        ...      ...         ...    ...
196      5400       23          28  16845
197      5300       19          25  19045
198      5500       18          23  21485
199      4800       26          27  22470
200      5400       19          25  22625

[201 rows x 26 columns]